<h1>Users</h1>
<ul>
  <% @users.all.each do |user| %>
    <li><a href="users/<%= user.id %>"><%= user.name %></a>
      <ul>
        <li><%= user.email %></li>
        <li><a href="/users/<%= user.id %>" data-method="delete" data-confirm="Are you sure?">[delete this user]</a></li>
      </ul>
    </li>
  <% end %>
</ul>